* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --color-background-project: #1e1e1e;

  --color-brand-light: #59b2ff;
  --color-brand-mid: #3487cf;
  --color-brand-dark: #1d6fb6;

  --color-purple: #b259ff;
  --color-fuschia: #ff59f9;
  --color-pink: #ff598b;
  --color-orange: #ff8b59;
  --color-yellow: #ffcd59;
  --color-lime: #e1ff59;
  --color-green: #59ff91;
  --color-cyan: #59fff9;
  --color-navy: #6a59ff;
  --color-danger: #ff5959;

  --color-input-base: #1c1f21;
  --color-input-stroke: #363b40;
  --color-input-placeholder: #869198;

  --color-shape-background: #131516;
  --color-shape-body: #212427;
  --color-shape-button: #2d3136;
  --color-shape-hover: #383d42;

  --color-text-body: #c8cdd0;
  --color-text-heading: #f9f9f9;

  --font-leckerli: "Leckerli One", cursive;
  --font-baloo-2: "Baloo 2", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

body {
  overflow: hidden;
  background-color: black;
}

img {
  max-width: 100%;
  height: auto;
}
