@import url(main-form.css);
@import url(main-layout.css);

main h1 {
  width: 560px;
  font: bold 1.75rem var(--font-baloo-2);
  color: var(--color-text-heading);

  margin-bottom: 2.5rem;
}

fieldset {
  border: none;
}

.head-form {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  & img {
    opacity: 0.4;
  }

  & legend {
    margin-left: 0.75rem;
    color: var(--color-text-heading);
    font: bold 1.12rem var(--font-baloo-2);
  }
}