.event-name label {
  font: 0.85rem var(--font-open-sans);
  color: var(--color-text-body);
}

.event-name input {
  width: 100%;
  margin-top: 0.75rem;
  padding: 0.8rem 0.8rem;
  font: 1rem var(--font-open-sans);
  background-color: var(--color-input-base);
  border: var(--color-input-stroke) solid 1px;
  border-radius: 0.5rem;

  &::placeholder {
    color: var(--color-input-placeholder);
  }
}
